@import "reset.css";

@font-face{
    font-family: RobotoMedium;
    src: url("../fonts/RobotoMedium.ttf");
}

@font-face{
    font-family: RobotoRegular;
    src: url("../fonts/RobotoRegular.ttf");
}

@font-face{
    font-family: RobotoLight;
    src: url("../fonts/RobotoLight.ttf");
}

@font-face{
    font-family: RalewayBold;
    src: url("../fonts/RalewayBold.ttf");
}

@font-face{
    font-family: RalewayExtraBold;
    src: url("../fonts/RalewayExtraBold.ttf");
}

@font-face{
    font-family: PoppinsRegular;
    src: url("../fonts/poppins-regular.ttf");
}

@font-face{
    font-family: PoppinsSemiBold;
    src: url("../fonts/poppins-semibold.ttf");
}

@font-face{
    font-family: PoppinsMedium;
    src: url("../fonts/poppins-medium.ttf");
}

@font-face{
    font-family: CabinMedium;
    src: url("../fonts/Cabin-Medium.otf");
}

@font-face{
    font-family: OswaldMedium;
    src: url("../fonts/Oswald-Medium.ttf");
}

.header-login{
    background-color: #fafafa;
    border-bottom: 1px;
    border-style: solid;
    border-color: #eeeeee;
    padding: 15px 0;
    font-family: RobotoMedium, Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

.header-login a, .header-login span{
    margin-right: 5px;
    text-decoration: none;
    color: #777777;
}

.header-login a:hover{
    text-decoration: underline;
    color: black;
}

.centered-container{
    margin: 0 auto;
    max-width: 1000px;
}

.big-txt{
    text-transform: uppercase;
}

.header-main{
    padding: 25px 0;
}

.header-logo{    
    display: flex;
    align-items: center;
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.header-main .centered-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-search input[type="text"]{
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px;
    border-color: #e8e8e8;
    border-style: solid;
    border-width: 1px;
    outline: none;
    width: 250px;
    height: 18px;
}

.header-search select{
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 7px;
    border-color: #e8e8e8;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    margin-left: -4px;
    outline: none;
    height: 36px;
    width: 140px;
}

.header-search button{
    background-color: #ffd200;
    border-style: none;
    margin-left: -4px;
    padding: 9px;
    outline: none;
    width: 36px;
    height: 36px;
}

.header-search button:hover, .header-cart button:hover{
    background-color: #fff046;
    cursor: pointer;
}

.blue-text{
    color: #408de4;
}

.red-text{
    color: red;
}

.header-cart{
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #555555;
}

.header-cart button{
    background-color: white;
    border-color: #e8e8e8;
    border-style: solid;
    border-width: 1px;
    width: 36px;
    height: 36px;
    outline: none;
}

.header-search-and-cart{
    display: flex;
}

.header-cart-sum{
    display: flex;
    align-items: center;
    border-color: #e8e8e8;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    height: 34px;
    padding: 0 5px;
}

.header-nav{
    background-color: #408de4;
    box-shadow: 0px 2px 10px rgba(122, 117, 117, 0.5);
}

.header-nav nav ul{
    display: flex;
}

.header-nav nav ul li{
    padding: 15px;
}

.selected-menu-item{
    background-color: #ffd200;
}

.header-nav nav ul li a{
    text-decoration: none;
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header-nav nav ul li:hover{
    background-color: #ffd200;
}

.white-txt{
    color: white;
}

a.black-txt{
    color: black;
}

.header-nav .centered-container{
    display: flex;
    justify-content: space-between;
}

.header-contactus{
    display: flex;
    align-items: center;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header-contactus-phone{
    background-color: #ffd200;
    padding: 3px;
    border-width: 3px;
    border-color: #ffd200;
    border-radius: 5px;
}

.mainpage-slider-container{
    width: 600px;
}

.mainpage-sliderblock{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.slider {
    position: relative;
    width: 600px;
}

.slider-images img{
    width: 100%;
    border-radius: 7px;
}
  
.slider-images {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
  
.slider-slide {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}

.slider-text{
    position: absolute;
    top: 100px;
    left: 60px;
    display: flex;
    flex-direction: column;
}

.slider-text-header{
    font-family: PoppinsRegular, Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.slider-text-text{
    font-family: PoppinsSemiBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.slider-text-linkbutton{
    font-family: PoppinsMedium, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a.slider-text-linkbutton{
    display: block;
    text-decoration: none;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    padding: 3px;
    width: max-content;
}

.slider-text a:hover{
    background-color: #ffd200;
}

div.slider-arrow-left,
div.slider-arrow-right {
    width: 30px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
}
  
div.slider-arrow-left {
    left: 10px;
    top: 40%;
    display: block;
    background: url("../images/SliderArrowLeft.png") no-repeat;
}
  
div.slider-arrow-right {
    right: 10px;
    top: 40%;
    display: block;
    background: url("../images/SliderArrowRight.png") no-repeat;
}
  
div.slider-arrow-left:hover {
    opacity: 1.0;
}
  
div.slider-arrow-right:hover {
    opacity: 1.0;
}
  
div.slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
}
  
span.slider-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}

.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-banner{
    position: relative;
    background-color: #707070;
    border-radius: 7px;
    width: 380px;
    height: 190px;
}

.slider-banner .slider-text{
    top: 30px;
    left: 25px;
}

.products-block{
    display: flex;
    justify-content: space-between;
    border-top-width: 3px;
    border-top-style: solid;
    margin-bottom: 60px;
}

.products-block.blue-bgc{
    border-color: #408de4;
}

.products-block.green-bgc{
    border-color: #97ca2d;
}

.products-block.yellow-bgc{
    border-color: #ebb651;
}

.products-sidebar, .admin-main nav ul{
    min-width: 170px;
}

.products-sidebar{
    background-color: #191919;
}

.admin-main nav ul{
    max-width: 300px;
    padding: 50px 0;
}

.products-sidebar-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #292929;
    height: 170px;
    font-family: RalewayExtraBold, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.products-sidebar-header img{
    padding: 10px;
    margin-bottom: 7px;
    border-radius: 30px;
}

.products-block.blue-bgc .products-sidebar-header img{
    background-color: #408de4;
}

.products-block.green-bgc .products-sidebar-header img{
    background-color: #97ca2d;
}

.products-block.yellow-bgc .products-sidebar-header img{
    background-color: #ebb651;
}

.products-sidebar-categories li, .admin-main nav li a{
    padding: 10px 0;
    padding-left: 20px;
    border-style: solid;
    border-top-width: 1px;
    border-color: #2d2d2d;
    color: #777777;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.admin-main nav li a{
    display: block;
    padding: 20px 0;
    padding-left: 20px;
    font-size: 16px;
    text-decoration: none;
}

.products-sidebar-categories li:hover, .admin-main nav li a:hover{
    color: white;
    cursor: pointer;
}

.products-block.blue-bgc .products-sidebar-categories li:hover, .admin-main nav li a:hover{
    background-color: #408de4;
}

.products-block.green-bgc .products-sidebar-categories li:hover{
    background-color: #97ca2d;
}

.products-block.yellow-bgc .products-sidebar-categories li:hover{
    background-color: #ebb651;
}

.products-sidebar-categories li:last-child, .admin-main nav li a:last-child{
    border-bottom-width: 1px;
}

.products-block-products, .shop-items-grid{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.shop-items-grid .product-shortdesc{
    display: none;
}

.shop-items-grid .product-innerinfo button{
    display: none;
}

.products-block-product{
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-between;
    width: 200px;
    height: 250px;
    border-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: #e8e8e8;
	background-color: #fff;
}

.product-container, .product-innerinfo{
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-between;
}

.products-block-product:hover{
    box-shadow: 0px 0px 10px rgb(138, 133, 133);
	border-width: 1px;
	transition: all 0.1s ease-in-out;
	transform: scale(1.1, 1.1);
}

.products-block-product button{
	margin-top: 20px;
	padding: 5px;
	border-radius: 100px 100px 0 0;
	font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
	width: 100%;
	border: none;
	background-color: #e8e8e8;
	outline: none;
}

.products-block-product button:hover{
	color: #fff;
}

.products-block.blue-bgc .products-block-product button:hover{
    background-color: #408de4;
}

.products-block.green-bgc .products-block-product button:hover{
    background-color: #97ca2d;
}

.products-block.yellow-bgc .products-block-product button:hover{
    background-color: #ebb651;
}

.shop-items-grid .products-block-product button:hover, .shop-items-list .products-block-product button:hover{
    background-color: #408de4;
}

.product-name{
    text-align: center;
    text-decoration: none;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #444444;
    margin: 3px 0;
}

.product-name:hover{
    text-decoration: underline;
}

.product-price{
    font-family: RobotoMedium, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    margin: 3px 0;
}

.product-price.old{
    text-decoration: line-through;
    color: #838383;
}

.product-stars{
    font-family: RobotoMedium, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}

.product-stars, .product-stars-choose{
    display: flex;
}

.product-stars-choose{
    cursor: pointer;
    font-size: 20px;
}

.yellow-star:after{
    content: '\2605';
    color: #f8c848;
}

.dark-star:after{
    content: '\2605';
    color: #cccccc;
}

.products-block-product img{
    max-width: 100%;
    max-height: 114px;
}

.shop-items-list .products-block-product{
    border-width: 1px;
    margin-bottom: 10px;
    width: 100%;
    height: max-content;
}

.shop-items-list .product-container{
    flex-direction: row;
}

.shop-items-list .product-innerinfo{
    padding: 5px 10px;
    align-items: start;
    border-style: solid;
    border-left-width: 1px;
    border-color: #e8e8e8;
}

.shop-items-list .product-container>a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

.shop-items-list .products-block-product>button{
    display: none;
}

.product-shortdesc{
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    color: #777777;
    margin: 3px 0;
}

.shop-items-list .products-block-product button{
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    width: max-content;
    padding: 10px 20px;
}

.products-block-banner{
    position: relative;
    width: max-content;
    margin: 5px;
}

.products-block-banner img{
    width: 210px;
    height: 100%;
}

.banner-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 190px; 
    background-color:rgba(80, 80, 80, 0.7);
    padding: 10px;
    top: 100px;
}

.banner-text a{
    text-decoration: none;
    border-style: solid;
    border-bottom-width: 1px;
    color: black;
    border-color: white;
    font-family: CabinMedium, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.banner-text a:hover{
    color: white;
    border-color: black;
}

.banner-text span{
    font-family: OswaldMedium, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #aaaaaa;
}

footer{
    background-color: #f8f8f8;
    border-style: solid;
    border-top-width: 1px;
    border-color: #ececec;
}

.footer-shopfeatures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-shopfeatures li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
    margin: 30px 0;
}

.feature-header{
    margin: 10px 0;
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.feature-text{
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #408de4;
    padding: 30px 0 20px 0;
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.footer-socials span{
    margin-right: 10px;
}

.footer-socials img{
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
    margin: 0 5px;
}

.footer-socials img:hover{
    background-color: #f8c848;
}

footer .bottom-container{
    display: flex;
    justify-content: space-between;
}

footer .centered-container.bottom-container{
    padding: 30px 0;
}

.footer-storeinfo{
    max-width: 300px;
}

.footer-top-slogan, .contactinfo-text{
    margin: 10px 0 15px 0;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.storeinfo-info{
    margin: 5px 0;
}

.storeinfo-info{
    font-family: RobotoLight, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.product-additionalinfo span, .order-detail span{
    font-family: RobotoLight, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.storeinfo-desc, .product-additionalinfo span.info-header, .order-detail span.order-header{
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer-uselesslinks{
    display: flex;
    width: calc(100% - 300px);
    justify-content: space-between;
}

.footer-uselesslinks li{
    width: max-content;
    text-align: center;
}

.footer-uselesslinks li .uselesslinks-header{
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.footer-uselesslinks li ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: RobotoLight, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer-uselesslinks li ul li{
    margin: 5px;
}

.footer-uselesslinks li ul li a{
    color: black;
    text-decoration: none;
}

.footer-uselesslinks li ul li a:hover{
    text-decoration: underline;
}

.footer-copy{
    background-color: #fff;
    border-style: solid;
    border-top-width: 1px;
    border-color: #ececec;
    padding: 10px 0;
    color: #888888;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.main-header{
    padding: 20px 0;
    margin-bottom: 50px;
    border-style: solid;
    border-color: #e8e8e8;
    border-bottom-width: 1px;
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.shop-container{
    display: flex;
    justify-content: space-between;
}

.shop-items-grid, .shop-items-list{
    max-width: 750px;
    justify-content: center;
}

.shop-sidebar{
    min-width: 230px;
}

.shop-sidebar-column, .products-table, .orders-table, .staff-table, .supplies-table, .warehouses-table, .manufacturers-table, .additionalinfo-table, .log-table{
    border-style: solid;
    border-color: #e8e8e8;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.shop-sidebar-column:last-child{
    margin-bottom: 0;
}

.products-table, .orders-table, .staff-table, .supplies-table, .warehouses-table, .manufacturers-table, .additionalinfo-table, .log-table{
	width: 100%;
}

.products-table tr, .orders-table tr, .staff-table tr, .supplies-table tr, .warehouses-table tr, .manufacturers-table tr, .additionalinfo-table tr, .log-table tr{
	border-style: solid;
    border-color: #e8e8e8;
    border-top-width: 1px;
	text-align: center;
}

.staff-table td, .orders-table td, .supplies-table td, .warehouses-table td, .manufacturers-table td, .additionalinfo-table td, .log-table td{
    padding: 5px 0;
}

.choosable tr:hover{
    cursor: pointer;
    background-color: #e6e6e6;
}

.products-table td, .orders-table td, .staff-table td, .supplies-table td, .warehouses-table td, .manufacturers-table td, .additionalinfo-table td, .log-table td{
	vertical-align: middle;
	font-family:RobotoMedium, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.shop-sidebar-columnheader, .products-table th, .orders-table th, .staff-table th, .supplies-table th, .warehouses-table th, .manufacturers-table th, .additionalinfo-table th, .log-table th{
    padding: 12px 0;
    background-color: #f8f8f8;
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
	text-transform: uppercase;
}

td.table-product, td.table-order{
	display: flex;
	align-items: center;
	color: #888888;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

td.table-order{
    padding: 30px 5px;
}

td div.delete-cross-btn, td div.change-btn{
	cursor: pointer;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 18px;
	border-style: solid;
	border-width: 1px;
	border-color: #e8e8e8;
	border-radius: 30px;
	width: 20px;
	height: 20px;
}

td div.delete-cross-btn{
	color: red;
}

td.table-nodata{
    padding: 15px 0;
    font-size: 16px;
}

.table-product img{
	width: 130px;
	height: 100px;
}

.shop-sidebar-list li, .shop-sidebar-column label{
    padding: 10px 0;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

.shop-sidebar-columnheader, .shop-sidebar-list li{
    padding-left: 10px;
    border-style: solid;
    border-color: #e5e5e5;
    border-bottom-width: 1px;
}

.shop-sidebar-list li:last-child{
    border-bottom: none;
}

.shop-sidebar-list li:hover, .shop-sidebar-list li.selected{
    cursor: pointer;
    background-color: #408de4;
    color: white;
}

.shop-items-grid .products-block-product:nth-child(3n + 1){
    border-left-width: 1px;
}

.shop-items-grid .products-block-product:nth-child(-n + 3){
    border-top-width: 1px;
}

.shop-sidebar-column label:first-of-type{
    margin-left: 10px;
}

.shop-sidebar-column input[type="text"]{
    background-color: #f8f8f8;
    border-color: #e5e5e5;
    border-radius: 5px;
    border-style: solid;
    outline: none;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 3px 5px;
    margin: 10px 0;
    margin-left: 5px;
    width: 60px;
}

.shop-itemsheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.buttons-block select, .buttons-block button{
    border-width: 1px;
    border-color: #e5e5e5;
    border-style: solid;
    padding: 7px;
    outline: none;
}

.shop-itemsheader, .buttons-block select{
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

.buttons-block select{
    margin-left: 10px;
}

.buttons-block button:first-of-type{
    border-right: none;
    margin-left: 10px;
}

.buttons-block button{
    padding-top: 8px;
}

.buttons-block button.released:hover{
    background-color: #cfcfcf;
}

.buttons-block button.pressed:hover{
    background-color: #e1e1e1;
}

.buttons-block button.pressed{
    background-color: #e7e7e7;
}

.buttons-block button.released{
    background-color: #fff;
}

.buttons-block{
    display: flex;
    align-items: center;
}

.shop-pagesbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.shop-pagesbuttons button, .team-info a, .cart-totals button{
    border-color: #e5e5e5;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    color: black;
}

.shop-pagesbuttons span{
    background-color: black;
    color: white;
    border-radius: 5px;
}

.shop-pagesbuttons span, .shop-pagesbuttons button, .team-info a, .cart-totals button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 18px;
    margin: 0 5px;
    padding: 5px;
    padding-top: 7px;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.shop-pagesbuttons button{
    outline: none;
    min-height: 30px;
    min-width: 30px;
}

.shop-pagesbuttons button:hover, .team-info a:hover, .cart-totals button:hover{
    background-color: #408de4;
    color: white;
}

.cart-totals button{
	cursor: pointer;
	padding: 15px 20px;
	width: 100%;
	outline: none;
	font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
	text-transform: uppercase;
}

.cart-totals{
	margin-bottom: 50px;
}

.shop-pagesbuttons span.dots{
    padding-bottom: 11px;
    min-height: 14px;
}

.team-container{
    display: flex;
    justify-content: space-between;
}

.team-container img{
    border-radius: 5px;
    margin-right: 20px;
}

.team-info{
    display: flex;
    flex-direction: column;
}

.team-info h2, .product-reviews-block h2, .order-details h2, .admin-main-header h2, .header-search h2, .admin-main .content h2{
    text-transform: uppercase;
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

.admin-main .content h2{
    margin-bottom: 10px;
}

.admin-main-header h2{
    font-size: 24px;
}

.order-details h2{
    margin-bottom: 10px;
}

.team-info p:first-of-type{
    font-family: RobotoMedium, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    margin: 20px 0;
}

.team-info p, .admin-main-header p{
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 20px;
}

.admin-main-header p{
    font-size: 18px;
}

.team-features{
    margin-top: 50px;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.team-features .feature-text{
    color: #888888;
}

.team-features ul, .team-stats ul{
    display: flex;
    justify-content: space-between;
}

.team-features ul li, .team-stats ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-features ul li{
    max-width: 250px;
}

.team-features .img-container{
    border-radius: 30px;
    padding: 10px;
    background-color: #408de4;
}

.team-stats{
    padding: 50px 0;
    background-color: #d0d0d0;
}

.team-stats ul li{
    max-width: 150px;
}

.team-stats .stats-stat{
    font-family: RobotoMedium, Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.team-stats .stats-text{
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #f3f3f3;
}

.meet-the-team{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meet-header h2{
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.meet-header{
    margin-bottom: 30px;
    text-align: center;
}

.meet-header span{
    font-family: RalewayRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #8d8d8d;
}

.meet-the-team{
    margin-bottom: 50px;
}

.meet-team{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.meet-team li{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
    border-radius: 10px;
    max-width: 250px;
}

.meet-team li img{
    border-radius: 10px;
}

.meet-team li span{
    margin-top: 10px;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #8d8d8d;
}

.meet-team li span:first-of-type{
    font-family: RobotoMedium, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

.meet-team li span:last-child{
    margin-bottom: 10px;
}

.contacts-container, .login-container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.contact-form, .contacts-info, .login-container form, .delivery-form, .product-desc form, .product-reviews-block form, .admin-form, .additionalinfo-form{
	display: flex;
	flex-direction: column;
	max-width: 450px;
}

.product-desc form{
    max-width: 100px;
}

.contact-form, .login-container form, .delivery-form, .product-desc form, .product-reviews-block form, .admin-form, .additionalinfo-form{
	font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.contact-form h2, .contacts-info h2, .login-container h2, .cart-totals h2, .delivery-form h2, .product-reviews-block form h2, .admin-form h2, .additionalinfo-form h2{
	font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.contact-form label, .login-container label, .delivery-form label, .product-desc form label, .product-reviews-block form label, .admin-form label, .additionalinfo-form label{
	margin-top: 15px;
}

.contact-form input, .contact-form textarea, 
.login-container input, .login-container textarea, 
.delivery-form input, .delivery-form select, 
.product-desc form input, 
.product-reviews-block form textarea, 
.admin-form textarea, .admin-form input, .admin-form select,
.additionalinfo-form input, .additionalinfo-form select{
    border-color: #e8e8e8;
    border-style: solid;
    border-width: 1px;
    outline: none;
	border-radius: 5px;
	padding: 8px;
	resize: none;
	width: 300px;
}

.product-desc form input{
    width: 50px;
}

.delivery-form select, .admin-form select, .additionalinfo-form select{
    width: calc(300px + 18px);
}

.delivery-form{
    margin-bottom: 30px;
}

.contact-form textarea, .login-container textarea, .product-reviews-block form textarea, .admin-form textarea{
	height: 150px;
}

.contact-form input[type="submit"], .login-container input[type="submit"], .product-desc form input[type="submit"], .product-reviews-block button, .product-reviews-block form input[type="submit"], .admin-form button, .additionalinfo-form button, .shop-sidebar button{
    margin-top: 20px;
    border-color: #e5e5e5;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    padding: 10px 40px;
    width: max-content;
    color: black;
}

.shop-sidebar button{
    width: 100%;
    margin-bottom: 30px;
}

.contact-form input[type="submit"]:hover, .login-container input[type="submit"]:hover, .product-desc form input[type="submit"]:hover, .product-reviews-block button:hover, .product-reviews-block input[type="submit"]:hover, .admin-form button:hover, .additionalinfo-form button:hover, .shop-sidebar button:hover{
    cursor: pointer;
    background-color: #408de4;
    color: white;
}

p.error-str{
    margin-top: 10px;
    color: red;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.required-field:after{
	content: ' *';
	color: red;
}

.cart-totals{
	max-width: 510px;
}

.cart-totals-table{
	display: flex;
	flex-direction: column;
}

.cart-totals-row{
	display: flex;
}

.cart-totals-header, .cart-totals-value{
    width: 250px;
}

.cart-totals-header{
	border-color: #e5e5e5;
    border-style: solid;
    border-right-width: 1px;
	background-color: #fcfcfc;
}

.cart-totals-header:last-child{
    border-right: none;
}

.cart-totals-table{
	margin: 10px 0;
}

.cart-totals-row{
    border-color: #e5e5e5;
    border-style: solid;
    border-top-width: 1px;
	width: max-content;
}

.cart-totals-row:last-of-type{
	border-bottom-width: 1px;
}

.cart-totals-row div{
	padding: 10px 5px;
}

.cart-totals-header{
	font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.cart-totals-value{
	font-family: RobotoMedium, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.product-desc-block{
    display: flex;
    justify-content: space-between;
}

.product-desc-block img{
    min-width: 400px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.product-desc{
    display: flex;
    flex-direction: column;
}

.product-desc h2{
    margin-bottom: 10px;
    font-family: PoppinsSemiBold, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.product-raiting-block{
    display: flex;
    margin-bottom: 5px;
}

.product-raiting-block span{
    margin-top: 3px;
    color: #838383;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.product-raiting-block span:not(:first-child){
    margin-left: 10px;
}

.product-price-block{
    font-family: PoppinsMedium, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.product-price-block .old-price{
    margin-right: 10px;
    text-decoration: line-through;
    color: #838383;
}

.product-additionalinfo, .in-stock, .out-stock{
    margin: 5px 0;
}

.in-stock, .out-stock{
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.in-stock{
    color: green;
}

.out-stock{
    color: red;
}

.product-desc-block{
    border-color: #e5e5e5;
    border-style: solid;
    border-bottom-width: 1px;
}

.product-reviews-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.product-reviews{
    margin-right: 15px;
}

.customer-review{
    margin: 10px 0;
    padding: 20px;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #434343;
}

.review-header{
    display: flex;
    margin-bottom: 5px;
}

.review-data{
    margin-right: 10px;
}

.review-data .customer-name{
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}

.review-data .review-date{
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #999999;
}

.review-data .review-date:before{
    content: ' - ';
}

.order-details{
    margin-bottom: 20px;
}
.order-status{
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.status-red{
    color: red;
}

.status-green{
    color: green;
}

.status-orange{
    color: orangered;
}

.header-blueline, .footer-blueline{
    background-color: #408de4;
    height: 46px;
}

.admin-main{
    display: flex;
}

.admin-main aside{
    margin-left: 20px;
    background-color: #222222;
}

.admin-main .content, .admin-main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 50px);
}

footer.admin-pannel-footer{
    border-top: none;
}

.content .products-table, .content .staff-table, .content .orders-table, .content .supplies-table, .content .warehouses-table, .content .manufacturers-table, .content .additionalinfo-table, .content .log-table{
    width: calc(100% - 50px);
}

.admin-main .content .header-search{
    margin-bottom: 10px;
}

.admin-main .content{
    margin-bottom: 30px;
}

.additional-info-container{
    display: flex;
    flex-wrap: wrap;
}

.additional-info-container .additional-info{
    margin: 10px 10px;
    min-width: 500px;
}

.confirm-msg{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-msg h2{
    color: green;
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p.no-data{
    margin: 50px 0;
    font-family: RalewayBold, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

input[type="submit"]:disabled{
    background-color: gray !important;
    color: #555555 !important;
}

input[type="submit"]:disabled:hover{
    background-color: gray !important;
    color: #555555 !important;
}

.product-desc form{
    margin-bottom: 30px;
}